POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
CLIENT_ID=clientId
CLINET_SECRET=clientSecret
REDIRECT_URI=redirectUri
HMAC_SECRET_KEY=hmacSecretKey
POSTGRES_URL=postgresUrl
JWT_SECRET=jwtSecret  
ACCESS_TOKEN_DURATION=1000  
REFRESH_TOKEN_DURATION=1000