POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
HMAC_SECRET_KEY=
JWT_SECRET= 
ACCESS_TOKEN_DURATION=  
REFRESH_TOKEN_DURATION=
APP_PUBLIC_URL=
COOKIE_SECURE=

